
// Global default params
params {
	
	//-------------  genome options
	genome_fa = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/genome/hg38.fasta'
	//-------------  global options
	cpu = 26
	mem = 30  // in unit of GB
	fq_path = '/hpc/grid'
	fq_pattern = '*_{1,2}.f*q.gz'
	pair_end = true
	QC = false
	trim = false
	adapter = ''
	out_dir = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/result'
	// tools parameters
	bwa_index = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/genome/bwa_index/hg38'
	dbsnp = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/Homo_sapiens_assembly38.dbsnp138.vcf'
	gold_indel = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/Mills_and_1000G_gold_standard.indels.hg38.vcf'
	hapmap = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/hapmap_3.3.hg38.vcf'
	omni = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/1000G_omni2.5.hg38.vcf'
	phase1 = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/1000G_phase1.snps.high_confidence.hg38.vcf'
	interval = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/interval_for_wgs.bed'
	multiqc_config = '/hpc'
}