
// Global default params
params {
	
	//-------------  genome options
	genome_fa = '/mnt/hg38.fasta'
	//-------------  global options
	cpu = 19
	mem = 30  // in unit of GB
	fq_path = '/media'
	fq_pattern = '*_{1,2}.f*q.gz'
	pair_end = true
	QC = true
	trim = false
	adapter = ''
	out_dir = '/media/gvcf'
	// tools parameters
	bwa_index = '/mnt/bwa_index/hg38'
	dbsnp = '/mnt/Homo_sapiens_assembly38.dbsnp138.vcf'
	gold_indel = '/mnt/Mills_and_1000G_gold_standard.indels.hg38.vcf'
	hapmap = '/mnt/hapmap_3.3.hg38.vcf'
	omni = '/mnt/1000G_omni2.5.hg38.vcf'
	phase1 = '/mnt/1000G_phase1.snps.high_confidence.hg38.vcf'
	interval = '/mnt/interval_for_BQSR.bed'
	multiqc_config = '/media'
}
