
// Global default params
params {
	
	//-------------  genome options
	genome_fa = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/genome/hg38.fasta'
	//-------------  global options
	cpu = 26
	mem = 30  // in unit of GB
	gvcf_path = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/result/HaplotypeCaller'
	gvcf_pattern = '*.g.vcf.gz'
	out_dir = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/result'
	
	// ref variants parameters
	dbsnp = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/Homo_sapiens_assembly38.dbsnp138.vcf'
	gold_indel = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/Mills_and_1000G_gold_standard.indels.hg38.vcf'
	hapmap = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/hapmap_3.3.hg38.vcf'
	omni = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/1000G_omni2.5.hg38.vcf'
	phase1 = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/1000G_phase1.snps.high_confidence.hg38.vcf'
	interval = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/ref_vcf/interval.bed'

	// multiQC parameters
	multiqc_config = '/hpc'
}