
// Global default params
params {
	
	//-------------  genome options
	genome_fa = '/mnt/hg38.fasta'
	//-------------  global options
	cpu = 19
	mem = 30  // in unit of GB
	gvcf_path = '/media/NIH_UDP/HaplotypeCaller'
	gvcf_pattern = '*.g.vcf.gz'
	out_dir = '/media/NIH_UDP/FSGS_cohort_result'
	
	// ref variants parameters
	dbsnp = '/mnt/Homo_sapiens_assembly38.dbsnp138.vcf'
	gold_indel = '/mnt/Mills_and_1000G_gold_standard.indels.hg38.vcf'
	hapmap = '/mnt/hapmap_3.3.hg38.vcf'
	omni = '/mnt/1000G_omni2.5.hg38.vcf'
	phase1 = '/mnt/1000G_phase1.snps.high_confidence.hg38.vcf'
	interval = '/mnt/interval_for_wgs.bed'

}