

// Global default params
params {
	
	//-------------  genome options
	genome_fa = '/mnt/hg38.fasta'
	//-------------  global options
	cpu = 9
	mem = 30  // in unit of GB
	
	vcf_path = '/media/FSGS_cohort_result/fsgs_pass'
	population_freq = '/mnt/1000G.phase3.integrated.sites_only.no_MATCHED_REV.hg38.vcf.gz'
	out_dir = '/media/FSGS_cohort_result/fsgs_pass'
	
}

