

params {
    //-------------  global options ----------------
    cpu = 24
    mem = 60  // in unit of GB
    
    vcf_fn='/media/hpc/grid/wip_drm_targetsciences/users/shangzhong/support/qtl/test.vcf.gz'
    work_path='/media/hpc/grid/wip_drm_targetsciences/users/shangzhong/support/qtl'
    code_path='/media/home/lis262/Code/Pipeline/TME/QTL_pipeline/utils/'
    id_map='/media/hpc/grid/wip_drm_targetsciences/users/shangzhong/support/qtl/wes_id_map.tsv'
    cyto_fn='/media/hpc/grid/wip_drm_targetsciences/users/shangzhong/support/qtl/Javline_cytoreason_table.tsv'
    anno='/media/hpc/grid/wip_drm_targetsciences/users/shangzhong/tumor/Clinical/BLCA/imp_WES/anno/imp_WES.vep.tsv.gz'
    ld_ref='/media/hpc/grid/hgcb/workspace/projects/P002_reference_information/plink/1000G_6PoP_MAF0.05'
    high_ld='/opt/high_LD_region_files/high_LD_regions_hg38.txt'
    clump_pval=5e-3
}