

params {
    //------------ resource parameter ----------
    cpu = 16
    mem = 30
    spsGRM = '/media/lustre/workspace/home/yplai/exWAS/sparseGRM/sparseGRM_related_46k_relatednessCutoff_0.125_2000_randomMarkersUsed.sparseGRM.mtx'
    spsSample = '/media/lustre/workspace/home/yplai/exWAS/sparseGRM/sparseGRM_related_46k_relatednessCutoff_0.125_2000_randomMarkersUsed.sparseGRM.mtx.sampleIDs.txt'
    gene_group_fn = '/media/lustre/workspace/home/yplai/domain_psuedo/gene_based_lof_maf.001.txt'

    //------------- global parameters ----------
    outdir   = '/media/lustre/scratch/lis262/saige_45'

    //-------------  step1 parameters ----------
    step1_gt_pre      = '/media//lustre/workspace/home/yplai/UKB_455K_WES/plink/related_eur_GL_chr'
    pheno_cova_fn     = '/media/hpc/grid/wip_drm_targetsciences/users/yingwu/UKBB-basic/Analysis/EBV/pheno/EBV.pheno.wes.EBNA.txt' // covariate file, first two columns needs to be 'FID', 'IID', phenotype column needs to be 'pheno' and other columns are covariates
    covariates        = 'age1,sex,bmi1,current.smoker,IandI.condition,Immunodeficiency,EBV.batch,genotyping.array,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10' // columns in cova_fn that would be used as covarates in the model
    cate_cova         = 'sex,current.smoker,IandI.condition,Immunodeficiency,EBV.batch,genotyping.array'
    trait_type = 'quantitative'  // should be quantitative or binary
    
    //------------- step2 parameters -----------
    step2_gt_pre      = '/media/lustre/workspace/home/yplai/UKB_455K_WES/vcf/related_eur_GL_chr'
    vcf_field         = 'GT'
}

