

params {
    //------------ resource parameter ----------
    cpu = 16
    mem = 30

    //------------- global parameters ----------
    outdir   = '/media/lustre/scratch/lis262/saige/wes_sv'

    //-------------  step1 parameters ----------
    step1_gt_pre      = '/media//lustre/workspace/home/yplai/UKB_455K_WES/plink/related_eur_GL_chr'
    pheno_cova_fn     = '/media/lustre/scratch/lis262/saige/wes_sv/kidney_pheno_unique.pheno.txt' // covariate file, first two columns needs to be 'FID', 'IID', phenotype column needs to be 'pheno' and other columns are covariates
    covariates        = 'age1,genotyping.array,genetic.sex,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10' // columns in cova_fn that would be used as covarates in the model
    cate_cova         = 'genotyping.array,genetic.sex'
    trait_type = 'quantitative'  // should be quantitative or binary
    
    //------------- step2 parameters -----------
    step2_gt_pre      = '/media/lustre/workspace/home/yplai/UKB_455K_WES/vcf/related_eur_GL_chr'
    vcf_field         = 'GT'
}

