

params {
    //-------------  global options ----------------
    vcf_path = '/media/lustre/scratch/lis262/blca' # put the vcf file you want to annotate in this path
    cpu = 24
    mem = 60  // in unit of GB
    
    vcf_fn = '/media/hpc/grid/wip_drm_targetsciences/users/shangzhong/tumor/Clinical/BLCA/imp_WES/'
    work_path = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/tumor/Clinical/BLCA/imp_WES'
    
    
}