
params {
	//----------------- genome options
	genome_fa = '/hpc/grid/hgcb/workspace/users/shangzhong/GATK/genome/hg38.fasta'
	exclude_interval = '/hpc/grid/hgcb/workspace/users/shangzhong/CNV/exclude.bed'
	//-------------  global options
	cpu = 26
	mem = 30  // in unit of GB
	bam_path = '/hpc/grid/hgcb/workspace/users/shangzhong/CNV/bam'
	bam_pattern = '*.bam'
	out_dir = '/hpc/grid/hgcb/workspace/users/shangzhong/CNV'

}